In [1]:
import pandas as pd

df = pd.read_csv('/Users/christopher/PycharmProjects/Udacity/recursion/cousera/another1.csv')

df.columns = [x.lower().strip() for x in df.columns]

df.head()

     name client_project                              date  allocation  hours
0  30eff2       8dff45ta         2021-06-07 00:00:00+00:00        10.0   10.0
1  30eff2       8dff45ta         2021-06-14 00:00:00+00:00         8.0    4.0
2  30eff2       8dff45ta         2021-06-21 00:00:00+00:00         9.0    6.0

In [2]:
admit_mask = df['allocation'] > 8
admit_mask

0     True
1    False
2     True
Name: allocation, dtype: bool

In [3]:
df.where(admit_mask).head()

     name client_project                              date  allocation  hours
0  30eff2       8dff45ta         2021-06-07 00:00:00+00:00        10.0   10.0
1     NaN            NaN                               NaN         NaN    NaN
2  30eff2       8dff45ta         2021-06-21 00:00:00+00:00         9.0    6.0

In [4]:
df.where(admit_mask).dropna().head()

     name client_project                              date  allocation  hours
0  30eff2       8dff45ta         2021-06-07 00:00:00+00:00        10.0   10.0
2  30eff2       8dff45ta         2021-06-21 00:00:00+00:00         9.0    6.0

In [5]:
df[df['allocation'] > 8].head()

     name client_project                              date  allocation  hours
0  30eff2       8dff45ta         2021-06-07 00:00:00+00:00        10.0   10.0
2  30eff2       8dff45ta         2021-06-21 00:00:00+00:00         9.0    6.0

In [6]:
df[df['allocation'].gt(8)].head()

     name client_project                              date  allocation  hours
0  30eff2       8dff45ta         2021-06-07 00:00:00+00:00        10.0   10.0
2  30eff2       8dff45ta         2021-06-21 00:00:00+00:00         9.0    6.0